@model HomelessHelper.Models.ShelterSearchResltsModel

@{ ViewBag.Title = "Shelter Search";}

<h2>Shelter Search</h2>
<div>
    <form name="shelterSearchForm" id="shelterSearchForm">
        <div>
            <label>Search:</label><input type="text" name="searchInput" id="searchInput" alt="Enter Shelter name/city/zipcode"/><input type="submit" name="searchShelter" id="searchShelter" value="Search"/>
        </div>
        <div>&nbsp;&nbsp;</div>
        <div>
            <label>Results</label>
        </div>
        <div id="searchResults">

        </div>
    </form>
</div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    
    $(document).ready(function () {
       console.log("Shelter search");
        $('#searchShelter').click(function (e) {
            e.preventDefault();

            if ($('#searchInput').val() === '' || $('#searchInput').val().length === 0) {
                alert("Please enter search value");
            }
        });
    });
</script>