@model HomelessHelper.Models.ShelterSearchResltsModel

@{ ViewBag.Title = "Shelter Search";}

<h2>Shelter Search</h2>
<div>
    <form name="shelterSearchForm" id="shelterSearchForm">
        <div>
            <label>Search:</label><input type="text" name="searchInput" id="searchInput" alt="Enter Shelter name/city/zipcode"/><input type="button" id="searchShelter" value="Search"/>
        </div>
        <div>&nbsp;&nbsp;</div>
        <div>
            <label>Results</label>
        </div>
        <table id="searchResults">
            <thead>
                <tr>
                    <th>Name</th>
                    <th align="right">Available Beds</th>
                </tr>
            </thead>
            <tbody id="tableData"></tbody>
        </table>
    </form>
</div>
@section scripts
{
    <script>
        $(document)
            .ready(function() {

                $('#searchShelter')
                    .click(function(e) {
                        e.preventDefault();

                        if ($('#searchShelter').val() === '' || $('#searchShelter').val().length === '') {
                            alert("Please enter search value");
                        } else {
                            $.ajax({
                                url: "@Url.Action("Search")",
                                dataType: 'html',
                                success: function(data) {
                                    $('#tableData').html(data);
                                }
                            });
                        }
                    });
            });
    </script>
}