@model HomelessHelper.Models.ShelterSearchModel
@{ ViewBag.Title = "Shelter Search";}
<br/>
<form class="navbar-form navbar-left" style="width: 100%" role="search" action="@Url.Action("Search","ShelterSearch")">
    <div class="form-group">
        <input id="SearchTerm" name="SearchTerm" type="text" class="form-control" placeholder="Enter Shelter name/city/zipcode">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 70%">Name</th>
            <th>Number of Beds</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shelter in Model.Results)
        {
            <tr>
                <td>@shelter.ShelterName</td>
                <td>@shelter.NumberOfBeds</td>
            </tr>
        }
    </tbody>
</table> 