@model IEnumerable<HomelessHelper.Models.ShelterSearchResltsModel>

@foreach (var shelter in Model)
{
    <tr>
        <td>@($"{shelter.ShelterName}")</td>
        <td align="right">@($"{shelter.NumberOfBeds}")</td>
    </tr>
}