@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <img src="~/Content/Images/unicorn.jpg" />
    <h1>Homeless Management Information System (HMIS)</h1>
    <p class="lead">Have you fallen on hard times? We're here to help.</p>
    <p><a href="@Url.Action("Index", "InTake")" class="btn btn-primary btn-lg">Request Help &raquo;</a>
    </p>
</div>
