@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <img src="~/Content/Images/unicorn.jpg" />
    <h1>Homeless Management Information System (HMIS)</h1>
    <p class="lead">Have you fallen on hard times? We're here to help.</p>
    <p><a href="@Url.Action("Index", "InTake")" class="btn btn-primary btn-lg">Request Help &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>You can submit a new client using the Intake tab</p>       
    </div>
    <div class="col-md-4">
        <h2>Client Search</h2>
        <p>find clients using the client search tab! You can also see details by clicking on a client.</p>     
    </div>
    <div class="col-md-4">
        <h2>Shelter Search</h2>
        <p>Find shelters using the shelter search tab and find out more by clicking on a shelter</p>
    </div>
</div>
